:root {
  /* Farver */
  --color-water1: #1d5a77;
  --color-water2: #44b9f1;
}

#dodger {
  background-image: url("../img/crab.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80px;
  width: 190px;
  position: absolute;
}

#game {
  /* baggrundsbillede over gradient (samme rækkefølge) */
  background-image: url("../img/gamebg.svg"),
    linear-gradient(to bottom right, var(--color-water2), var(--color-water1));

  /* så billedet starter mere midt */
  background-position: center 78%, center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

/* fjerner hvide kanter */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

#homeBTN {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 85px;
  height: 85px;
  background-size: cover;
  cursor: pointer;
}

/*Styling for confetti overlay */
.confetti-overlay {
  position: fixed; /* lægger den oven på hele skærmen */
  top: 0;
  left: 0;
  width: 100vw; /* fylder hele bredden */
  height: 100vh; /* fylder hele højden */
  background-size: cover;
  justify-content: center;
  align-items: center; /* centerer konfetti-billedet */
  z-index: 10;
}

.win-card h1 {
  text-align: center; 
  font-family: 'Lato', sans-serif;
  top: 0;
  left: 0;
  font-size: 28px;
  color: white;
}

.win-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #E01B24; /* rød farve */
  color: white;
  font-size: 16px;
  cursor: pointer;
}