:root {
  /* Farver */
  --color-water1: #1d5a77;
  --color-water2: #44b9f1;
}

#dodger {
  background-image: url("../img/crab.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80px;
  width: 190px;
  position: absolute;
}

#game {
  /* baggrundsbillede over gradient (samme rækkefølge) */
  background-image: url("../img/gamebg.svg"),
    linear-gradient(to bottom right, var(--color-water2), var(--color-water1));

  /* så billedet starter mere midt */
  background-position: center 78%, center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

/* fjerner hvide kanter */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

#homeBTN {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 85px;
  height: 85px;
  background-size: cover;
  cursor: pointer;
}

/*Styling for vinder overlay */
.confetti-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  width: 100vw;
  height: 100vh;
  display: flex; /* sørger for centering */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* overlay der centrerer kortet midt på skærmen */
.win-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center; /* vertikal centering */
  justify-content: center; /* horisontal centering */
  z-index: 2;
  pointer-events: auto;
}

.win-card h1 {
  text-align: center;
  font-family: "Nerko One";
  font-size: 64px;
  color: white;
    /* Tynd stroke */
  text-shadow: -2.5px -2.5px 0 black, 2.5px -2.5px 0 black, -2.5px 2.5px 0 black,
    2.5px 2.5px 0 black;
}

.win-card button {
  padding: 15px 25px;
  border-radius: 50px;
  background-color: #e01b24;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  font-family: "Nerko One";
}
