:root {
  --font-body: "Irish Grover", system-ui;
  --font-body2: "Lato", sans-serif;

  /* Farver */
  --color-water1: #1d5a77;
  --color-water2: #44b9f1;
  --color-orange: #ffc968;
  --color-darkorange: #fba55c;

  /* Billede størrelser (vw) */
  --fish-w: 11vw;

  /* Start /exit offset (vw) */
  --off-fish1: 30vw;
  --off-fish2: 28vw;
  --off-fish3: 32vw;
  --off-fish4: 40vw;
  --off-fish5: 36vw;
  --off-fish6: 26vw;
  --off-fish7: 22vw;
}

/* ---------------------------------------------------------
   Global reset
--------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

/* ---------------------------------------------------------
   Scene styling
--------------------------------------------------------- */
.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    var(--color-water2),
    var(--color-water1)
  );
}

/* ---------------------------------------------------------
   Background styling
--------------------------------------------------------- */

.bg {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  background-size: cover;
  z-index: 0;
}

/* ---------------------------------------------------------
   Fisk
   - px for selve billedstørrelsen
   - vw/vh til placering og ALLE animationsafstande
--------------------------------------------------------- */

/* Crab */
.fish1 {
  position: absolute;
  bottom: 3.5vh;
  width: calc(var(--fish-w) * 0.8);
  max-width: 18vw;
  z-index: 4;
  left: calc(-1 * var(--off-fish1));
  animation: fish1 12s linear infinite;
  cursor: pointer;
}

@keyframes fish1 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish1)));
  }
}

/* Nemo */
.fish2 {
  position: absolute;
  bottom: 20vh;
  width: var(--fish-w);
  max-width: 20vw;
  z-index: 3;
  left: calc(-1 * var(--off-fish2));
  animation: fish2 18s linear infinite;
  cursor: pointer;
}

@keyframes fish2 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish2)));
  }
}

/* Pufferfish */
.fish3 {
  position: absolute;
  bottom: 78vh;
  width: calc(var(--fish-w) * 0.8);
  max-width: 22vw;
  z-index: 1;
  right: calc(-1 * var(--off-fish3));
  animation: fish3 25s linear infinite;
  cursor: pointer;
}

@keyframes fish3 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  90%,
  100% {
    transform: translateX(calc(-100vw - var(--off-fish3))) rotateY(180deg);
  }
}

/* Shark */
.fish4 {
  position: absolute;
  bottom: 65vh;
  width: calc(var(--fish-w) * 1.9);
  max-width: 28vw;
  z-index: 3;
  right: calc(-1 * var(--off-fish4));
  animation: fish4 10s linear infinite;
  cursor: pointer;
}

@keyframes fish4 {
  0% {
    transform: translateX(0) rotateY(0deg);
  }
  90%,
  100% {
    transform: translateX(calc(-100vw - var(--off-fish4))) rotateY(0deg);
  }
}

/* Stingray */
.fish5 {
  position: absolute;
  bottom: 55vh;
  width: calc(var(--fish-w) * 2.1);
  max-width: 30vw;
  z-index: 3;
  left: calc(-1 * var(--off-fish5));
  animation: fish5 18s linear infinite;
  cursor: pointer;
}

@keyframes fish5 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish5)));
  }
}

/* Turtle */
.fish6 {
  position: absolute;
  bottom: 40vh;
  width: calc(var(--fish-w) * 1.4);
  max-width: 20vw;
  z-index: 3;
  left: calc(-1 * var(--off-fish6));
  animation: fish6 25s linear infinite;
  cursor: pointer;
}

@keyframes fish6 {
  0% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(calc(100vw + var(--off-fish6)));
  }
}
/* Seaweed */
.fish7 {
  position: absolute;
  bottom: 6vh;
  width: calc(var(--fish-w) * 1.7);
  max-width: 18vw;
  z-index: 3;
  left: 42vw;
}

/* ---------------------------------------------------------
   Aquaman styling
--------------------------------------------------------- */
.aquaman {
  position: absolute;
  width: 22vw;
  max-width: 38rem;
  bottom: -5.7vh;
  left: 9.5vw;
  z-index: 5;
  cursor: pointer;
}

.aquaman-cta {
  font-weight: bold;
  position: absolute;
  bottom: 44vh;
  left: 15.5vw;
  font-family: var(--font-body2);
  font-size: 1.8rem;
  color: var(--color-orange);
  cursor: pointer;
  z-index: 6;

  /* Tynd stroke */
  text-shadow: -1px -1px 0 var(--color-darkorange),
    1px -1px 0 var(--color-darkorange), -1px 1px 0 var(--color-darkorange),
    1px 1px 0 var(--color-darkorange);

  /* Animation for at tiltrække opmærksomhed */
  display: inline-block;
  animation: pulse-scale 1.6s ease-in-out infinite;
}

/* Keyframes for skalering */
@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
  } /* normal størrelse */
  50% {
    transform: scale(1.1);
  } /* 10% større */
}

.aquaman-bubble {
  display: none; /* Starter skjult */
  position: absolute;
  bottom: 44vh;
  left: 14vw;
  width: 15rem;
  padding: 1.5rem;
  background-color: #f7f7f7;
  color: #000;
  border-radius: 2.5rem;
  font-family: var(--font-body2);
  font-size: 1.2rem;
  text-align: center;
  z-index: 10;
}

.aquaman-bubble::after {
  content: "";
  position: absolute;
  top: 100%; /* Pil peger nedad */
  left: 50%;
  transform: translateX(-50%);
  border-width: 1rem;
  border-style: solid;
  border-color: #f7f7f7 transparent transparent transparent;
}

/* ---------------------------------------------------------
  Pop-up cards styling
--------------------------------------------------------- */
.popup {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35); /* overlay */
  z-index: 10;
}

/* Gør pop-up teksten Lato */
.popup,
.popupContent,
.popupBody,
.popup * {
  font-family: var(--font-body2);
}

/* Tilten på fisk gøres større */
.popupBody strong {
  font-family: var(--font-body);
  display: block;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
}

.popup.is-visible {
  display: flex;
}

.popupContent {
  position: relative; /* Tilføjet så .closeBtn er inde i card */
  background: var(--color-orange);
  color: #000;
  border: 5px solid var(--color-darkorange);
  max-width: 580px;
  width: 100%;
  padding: 1.5rem 1.2rem;
  border-radius: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: left;
  line-height: 1.5;
}

.spilleknap {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: #e01b24;
  border: none;
  border-radius: 45.6rem;
  text-decoration: none; /* Fjerner den understregede streg */
}

.popupContent .spilleknap {
  position: relative; /* Fjerner fixed-position for knappen i popup */
  margin-top: 1.5rem; /* Justerer mellemrummet mellem knappen og teksten */
  display: inline-block; /* Gør elementet til et inline-niveaublokelement så margin-top virker*/
  left: 50%; /* Placerer knappen i midten*/
  transform: translateX(-50%);
  font-family: "nerko one";
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.closeBtn {
  padding: 0.3rem 0.7rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  color: #b6b6b6;
  background-color: #404040;
  border: none;
  cursor: pointer;
}

.popupContent .closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
